.input-item {
    width: 350px !important;
    margin-right: 1.5em !important;
}

.input-item div.ant-form-item-label {
    padding: 0px;
    line-height: 1.5;
    text-align: left;
}

.submit-button {
    height: 50px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    color: white !important;
}