.padding20 {
    padding: 20px;
}

.paddingRight30 {
    padding-right: 30px;
}

.logo-container {
    font-size: 65px;
    font-weight: 600;
}

.header {
    padding-left: 50px;
    padding-right: 20px;
    min-height: 40px;
}

.logo-header {
    font-size: 35px;
    font-weight: 600;
    color: 'black';
}

.content {
    max-width: 920px;
    justify-content: center;
}

button.link span:hover,
a.job-link:hover {
    text-decoration: underline !important;
}

button.linka a:hover {
    text-decoration: underline;
}

.total-job {
    font-size: 17px !important;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    color: #171a17 !important;
    font-weight: 400 !important;
}

.job-link {
    font-weight: 700 !important;
    color: #171a17 !important;
}

.job-link:hover {
    text-decoration: underline;
}

.left-content {
    margin-right: 20px;
}

.content-container {
    max-width: 1300px;
    width: calc(100vw - 100px);
    margin: 1rem auto;
}